.customer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;

  .customer-left {
    width: 45%;
    h1 {
      font-size: 3.5rem;
    }

    p {
      font-size: 1.7rem;
      padding: 2rem 0;
    }

    .ceo-wrapper {
      transform: translate(50px, 10px);
      padding: 2rem;
      background-color: #066f14;

      .ceo-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ceo-title-left {
          display: flex;
          align-items: flex-start;
          gap: 1rem;

          .ceo-name {
            color: #fff;
            h2 {
              font-size: 1.3rem;
            }

            p {
              font-size: 1rem;
              padding: 0.6rem 0;
            }
          }
        }
      }

      p {
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }

  .customer-right {
    width: 50%;
    img {
      width: 100%;
    }
  }
}
