.customers {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 7rem;
  text-align: center;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .customers {
    justify-content: center;

    .customer {
      display: flex;
      flex-direction: column;
    }
  }
}

